<!--mat-label will not display I HAVE NO IDEA WHY WTF-->
<div class="new-load">
  <h1>New Load</h1>
  <div [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-dialog-actions>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>

    <!--Truck Id Field-->
    <mat-form-field class="form-row">
      <mat-label>Truck Id</mat-label>
      <input matInput formControlName="truckId" required placeholder="Truck Id" />
    </mat-form-field>

    <!--Select from list of Bins-->
    <mat-label>Bin</mat-label>
    <select formControlName="bin">
      <option *ngFor="let bin of bins" value="{{bin.binId}}">
        {{ bin.binName }}
      </option>
    </select>

    <!--Moisture Level Field-->
    <mat-form-field class="form-row">
      <mat-label>Moisture</mat-label>
      <input matInput formControlName="moistureLevel" placeholder="Moisture" />
    </mat-form-field>

    <!--Test Weight Field-->
    <mat-form-field class="form-row">
      <mat-label>Test Weight</mat-label>
      <input matInput formControlName="testWeight" placeholder="Test Weight" />
    </mat-form-field>

    <!--Protien Level Field-->
    <mat-form-field class="form-row">
      <mat-label>Protein</mat-label>
      <input matInput formControlName="proteinLevel" placeholder="Protein Level" />
    </mat-form-field>

    <!--Bill of Lading Number Field-->
    <mat-form-field class="form-row">
      <mat-label>Bill of Lading</mat-label>
      <input matInput formControlName="bolNumber" placeholder="Bill of Lading Number" />
    </mat-form-field>

    <!--Notes / Comments Field-->
    <mat-form-field class="form-row">
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" placeholder="Notes/Comments" />
    </mat-form-field>
  </div>
<mat-dialog-actions>
  <button mat-raised-button (click)="openNewWeightsheetDialog()"> New Weightsheet </button>
</mat-dialog-actions>

<button mat-raised-button type="submit" (click)="onSubmit()">Weigh In</button>

<button mat-raised-button>Weigh Out</button>

</div>
