<div>
  <h1>New Inbound Weightsheet</h1>

  <div [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--Weigher Field-->
    <mat-form-field>
      <mat-label>weigher</mat-label>
      <input matInput formControlName="weigher" required placeholder="Weigher" />
    </mat-form-field>

    <mat-label>Lot</mat-label>
    <select required formControlName="lot">
      <option *ngFor="let l of lots" value="{{l.lotId}}">
        {{ l.lotId }}
      </option>
    </select>

    <mat-label>Commodity Type</mat-label>
    <select required formControlName="commodityType" (change)="onSelect($event)  ">
      <option *ngFor="let comType of commodities" value="{{comType.commodityTypeId}}">
        {{ comType.commodityTypeName }}
      </option>
    </select>

    <mat-label>Commodity Variety</mat-label>
    <select formControlName="commodityVariety">
      <option *ngFor="let comVariety of varieties" value="{{comVariety.commodityVarietyId}}">
        {{ comVariety.commodityVarietyName }}
      </option>
    </select>

    <!--Hauler Field-->
    <mat-form-field>
      <mat-label>Hauler</mat-label>
      <input matInput formControlName="hauler" placeholder="Hauler" />
    </mat-form-field>

    <!--Miles One Way Field-->
    <mat-form-field>
      <mat-label>Miles One Way</mat-label>
      <input matInput formControlName="miles" placeholder="Miles One Way" />
    </mat-form-field>

    <!--Bill of Lading Number Field-->
    <mat-form-field>
      <mat-label>Bill of Lading Number</mat-label>
      <input matInput formControlName="billOfLading" placeholder="Bill of Lading" />
    </mat-form-field>

    <!--Notes Field-->
    <mat-form-field>
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" placeholder="Notes" />
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>

    <mat-dialog-actions>
      <button mat-raised-button (click)="onSubmit()">Done</button>
    </mat-dialog-actions>

    <mat-dialog-actions>
      <button mat-raised-button (click)="openNewLotDialog()"> New Lot </button>
    </mat-dialog-actions>
  </div>
</div>
