<h1>Weightsheets</h1>

<p *ngIf="!weightsheets"><em>Loading...</em></p>
<table class=" ='table table-striped' aria-labelledby='tableLabel'" [hidden]="!weightsheets">
  <thead>
    <tr>
      <th>Weightsheet Id</th>
      <th>Commodity Type</th>
      <th>Commodity Variety</th>
      <th>Lot Id</th>
      <th>Source Id</th>
      <th>Weigher</th>
      <th>Miles</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weightsheet of weightsheets">
      <td>
        <a [routerLink]="['/weightsheet/', weightsheet.weightSheetId]">{{weightsheet.weightSheetId}}</a>
       </td>
      <td>{{weightsheet.commodityTypeIdLink}}</td>
      <td>{{weightsheet.commodityVarietyIdLink}}</td>
      <td>{{weightsheet.lotIdLink}}</td>
      <td>{{weightsheet.sourceIdLink}}</td>
      <td>{{weightsheet.weigher}}</td>
      <td>{{weightsheet.miles}}</td>
      <td>{{weightsheet.notes}}</td>
    </tr>
  </tbody>
</table>
