<h1>Weightsheets</h1>

<p *ngIf="!weightsheets"><em>Loading...</em></p>
<table class=" ='table table-striped' aria-labelledby='tableLabel'" [hidden]="!weightsheets">
  <thead>
    <tr>
      <th>Weightsheet Id</th>
      <th>Commodity Type</th>
      <th>Commodity Variety</th>
      <th>Source Name</th>
      <th>Lot Id</th>
      <th>Notes</th>
      <th>Number of Loads</th>
      <th>Net Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weightsheet of weightsheets">
      <td>
        <a [routerLink]="['/weightsheet/', weightsheet.weightsheetId]">{{weightsheet.weightsheetId}}</a>
      </td>
      <td>{{weightsheet.commodityTypeName}}</td>
      <td>{{weightsheet.commodityVarietyName}}</td>
      <td>{{weightsheet.sourceName}}</td>
      <td>{{weightsheet.lotId}}</td>
      <td>{{weightsheet.notes}}</td>
      <td>{{weightsheet.sumLoads}}</td>
      <td>{{weightsheet.netWeight}}</td>
    </tr>
  </tbody>
</table>
