<div class="edit-load">
  <div [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--Truck Id Field-->
    <mat-form-field class="form-row">
      <mat-label>Truck Id</mat-label>
      <input matInput formControlName="truckId" required placeholder="Truck Id" />
    </mat-form-field>

    <!--Select from list of Bins-->
    <mat-label>Bin</mat-label>
    <select formControlName="bin">
      <option *ngFor="let bin of bins" value="{{bin.binId}}">
        {{ bin.binName }}
      </option>
    </select>

    <!--Select from list of Weightsheets-->
    <mat-label>Weightsheet</mat-label>
    <select formControlName="weightsheet">
      <option *ngFor="let sheet of weightsheets" value="{{sheet.weightSheetId}}">
        {{ sheet.weightSheetId }}
      </option>
    </select>

    <!--Gross Weight Field-->
    <mat-form-field class="form-row">
      <mat-label>Gross Weight</mat-label>
      <input matInput formControlName="grossWeight" placeholder="Gross Weight" />
    </mat-form-field>

    <!--Tare Weight Field-->
    <mat-form-field>
      <mat-label>Tare Weight</mat-label>
      <input matInput formControlName="tareWeight" placeholder="Tare Weight" />
    </mat-form-field>

    <!--Net Weight Field-->
    <mat-form-field>
      <mat-label>Net Weight</mat-label>
      <input matInput formControlName="netWeight" placeholder="Net Weight" />
    </mat-form-field>

    <!--Moisture Level Field-->
    <mat-form-field class="form-row">
      <mat-label>Moisture</mat-label>
      <input matInput formControlName="moistureLevel" placeholder="Moisture" />
    </mat-form-field>

    <!--Test Weight Field-->
    <mat-form-field class="form-row">
      <mat-label>Test Weight</mat-label>
      <input matInput formControlName="testWeight" placeholder="Test Weight" />
    </mat-form-field>

    <!--Protien Level Field-->
    <mat-form-field class="form-row">
      <mat-label>Protien</mat-label>
      <input matInput formControlName="protienLevel" placeholder="Protein Level" />
    </mat-form-field>

    <!--Bill of Lading Number Field-->
    <mat-form-field class="form-row">
      <mat-label>Bill of Lading</mat-label>
      <input matInput formControlName="bolNumber" placeholder="Bill of Lading Number" />
    </mat-form-field>

    <!--Notes / Comments Field-->
    <mat-form-field class="form-row">
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" placeholder="Notes/Comments" />
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="weighOut()">Weigh Out</button>
    <button mat-raised-button type="submit" (click)="onSubmit()">Done</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </div>
</div>
