<h1>Lots</h1>

<p *ngIf="!lots"><em>Loading...</em></p>
<table class=" ='table table-striped' aria-labelledby='tableLabel'" [hidden]="!lots">
  <thead>
    <tr>
      <th>Lot Id</th>
      <th>Proudcer Name</th>
      <th>Id</th>
      <th>Commodity Name</th>
      <th>Id</th>
      <th>Variety Name</th>
      <th>Id</th>
      <th>Opened Date</th>
      <th>Closed Date</th>
      <th>Landlord</th>
      <th>Farm Number (FSA)</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lot of lots">
      <td>
        <a [routerLink]="['/lot/', lot.lotId]"> {{lot.lotId}} </a>
      </td>
      <td>{{lot.producerName}}</td>
      <td>{{lot.producerId}}</td>
      <td>{{lot.commodityTypeName}}</td>
      <td>{{lot.commodityTypeId}}</td>
      <td>{{lot.commodityVarietyName}}</td>
      <td>{{lot.commodityVarietyId}}</td>
      <td>{{lot.startDate}}</td>
      <td>{{lot.endDate}}</td>
      <td>{{lot.landlord}}</td>
      <td>{{lot.farmNumber}}</td>
      <td>{{lot.notes}}</td>
    </tr>
  </tbody>
</table>
