<div class="new-lot">
  <h1>New Lot</h1>

  <div [formGroup]="form" (ngSubmit)="onSubmit()">
    <p *ngIf="!producers">
      <em>Loading...</em>
    </p>

    <!--Select ProducerID--> <!--Select Field-->
    <mat-label>Producer</mat-label>
    <select required formControlName="producer">
      <option *ngFor="let prod of producers" value="{{prod.producerId}}">
        {{ prod.producerName }}
      </option>
    </select>

    <mat-label>Commodity Type</mat-label>
    <select required formControlName="commodityType" (change)="onSelect($event)  ">
      <option *ngFor="let comType of commodities" value="{{comType.commodityTypeId}}">
        {{ comType.commodityTypeName }}
      </option>
    </select>

    <mat-label>Commodity Variety</mat-label>
    <select formControlName="commodityVariety">
      <option *ngFor="let comVariety of varieties" value="{{comVariety.commodityVarietyId}}">
        {{ comVariety.commodityVarietyName }}
      </option>
    </select>


    <!--State Id-->
    <mat-label>State</mat-label>
    <mat-form-field class="form-row">
      <mat-select required formControlName="stateId">
        <mat-option *ngFor="let s of states" [value]="s.value">
          {{s.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--Landlord field-->
    <mat-form-field class="form-row">
      <mat-label>Landlord</mat-label>
      <input matInput formControlName="landlord" placeholder="Landlord" />
    </mat-form-field>

    <!--Farm / FSA Number-->
    <mat-label>Farm Number (FSA)</mat-label>
    <mat-form-field class="form-row">
      <input matInput formControlName="farmNumber" placeholder="Farm Number (FSA)" />
    </mat-form-field>

    <!--Notes-->
    <mat-label>Notes</mat-label>
    <mat-form-field class="form-row">
      <input matInput formControlName="notes" placeholder="Notes" />
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button (click)="onSubmit()">Done</button>
    </mat-dialog-actions>

  </div>
</div>
