<div class="new-lot">
  <h1>New Lot</h1>

  <div [formGroup]="form" (ngSubmit)="onSubmit()">
    <p *ngIf="!producers">
      <em>Loading...</em>
    </p>

    <!--Select ProducerID-->
    <mat-form-field>
      <mat-label>Producer</mat-label>
      <mat-select required formControlName="producer">
        <mat-option *ngFor="let prod of producers" value="{{prod.producerId}}">
          {{ prod.producerName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--Commodity Type-->
    <mat-form-field>
      <mat-label>Commodity Type</mat-label>
      <mat-select required formControlName="commodityType" (selectionChange)="onSelect($event.value)">
        <mat-option *ngFor="let comType of commodities" value="{{comType.commodityTypeId}}">
          {{ comType.commodityTypeName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Commodity Variety</mat-label>
      <mat-select formControlName="commodityVariety">
        <mat-option *ngFor="let comVariety of varieties" value="{{comVariety.commodityVarietyId}}">
          {{ comVariety.commodityVarietyName }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <!--State Id-->
    <mat-form-field class="form-row">
      <mat-label>State</mat-label>
      <mat-select required formControlName="stateId">
        <mat-option *ngFor="let s of states" [value]="s.value">
          {{s.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--Landlord field-->
    <mat-form-field class="form-row">
      <mat-label>Landlord</mat-label>
      <input matInput formControlName="landlord" placeholder="Landlord" />
    </mat-form-field>

    <!--Farm / FSA Number-->
    <mat-label>Farm Number (FSA)</mat-label>
    <mat-form-field class="form-row">
      <input matInput formControlName="farmNumber" placeholder="Farm Number (FSA)" />
    </mat-form-field>

    <!--Notes-->
    <mat-label>Notes</mat-label>
    <mat-form-field class="form-row">
      <input matInput formControlName="notes" placeholder="Notes" />
    </mat-form-field>

    <div>
      <button mat-raised-button (click)="onSubmit()" [disabled]="!form.valid">Done</button>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </div>

  </div>
</div>
